In [1]:
## Project

#Regression focussed on Data. Determine the target_deathrate as a function of rest of the variables. The data has both categorical and numerical data which needs to be handled.

In [2]:
#Import Necessary libraries and the data to have an initial look at the data.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df= pd.read_csv('cancer_reg.csv')
pd.options.display.max_columns = None
df.head(5)

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,binnedinc,medianage,medianagemale,medianagefemale,geography,percentmarried,pctnohs18_24,pcths18_24,pctsomecol18_24,pctbachdeg18_24,pcths25_over,pctbachdeg25_over,pctemployed16_over,pctunemployed16_over,pctprivatecoverage,pctprivatecoveragealone,pctempprivcoverage,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,"(61494.5, 125635]",39.3,36.9,41.7,"Kitsap County, Washington",52.5,11.5,39.5,42.1,6.9,23.2,19.6,51.9,8.0,75.1,NaN,41.6,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,32.2,33.7,"Kittitas County, Washington",44.5,6.1,22.4,64.0,7.5,26.0,22.7,55.9,7.8,70.2,53.8,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096
2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,44.0,45.8,"Klickitat County, Washington",54.2,24.0,36.6,NaN,9.5,29.0,16.0,45.9,7.0,63.7,43.5,34.9,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488
3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,"(42724.4, 45201]",42.8,42.2,43.4,"Lewis County, Washington",52.7,20.2,41.2,36.1,2.5,31.6,9.3,48.3,12.1,58.4,40.3,35.0,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841
4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,"(48021.6, 51046.4]",48.3,47.8,48.9,"Lincoln County, Washington",57.8,14.9,43.0,40.0,2.0,33.4,15.0,48.2,4.8,61.6,43.9,35.1,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657

In [5]:
df.describe()

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,medianage,medianagemale,medianagefemale,percentmarried,pctnohs18_24,pcths18_24,pctsomecol18_24,pctbachdeg18_24,pcths25_over,pctbachdeg25_over,pctemployed16_over,pctunemployed16_over,pctprivatecoverage,pctprivatecoveragealone,pctempprivcoverage,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate
count,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3.047000e+03,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,762.000000,3047.000000,3047.000000,3047.000000,2895.000000,3047.000000,3047.000000,2438.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000
mean,606.338544,185.965868,178.664063,448.268586,47063.281917,1.026374e+05,16.878175,155.399415,45.272333,39.570725,42.145323,51.773679,18.224450,35.002068,40.977034,6.158287,34.804660,13.282015,54.152642,7.852412,64.354939,48.453774,41.196324,36.252642,19.240072,83.645286,9.107978,1.253965,1.983523,51.243872,5.640306
std,1416.356223,504.134286,27.751511,54.560733,12040.090836,3.290592e+05,6.409087,529.628366,45.304480,5.226017,5.292849,6.896928,8.093064,9.069722,11.115805,4.529059,7.034924,5.394756,8.315064,3.452371,10.647057,10.083006,9.447687,7.841741,6.113041,16.380025,14.534538,2.610276,3.517710,6.572814,1.985816
min,6.000000,3.000000,59.700000,201.300000,22640.000000,8.270000e+02,3.200000,0.000000,22.300000,22.400000,22.300000,23.100000,0.000000,0.000000,7.100000,0.000000,7.500000,2.500000,17.600000,0.400000,22.300000,15.700000,13.500000,11.200000,2.600000,10.199155,0.000000,0.000000,0.000000,22.992490,0.000000
25%,76.000000,28.000000,161.200000,420.300000,38882.500000,1.168400e+04,12.150000,0.000000,37.700000,36.350000,39.100000,47.750000,12.800000,29.200000,34.000000,3.100000,30.400000,9.400000,48.600000,5.500000,57.200000,41.000000,34.500000,30.900000,14.850000,77.296180,0.620675,0.254199,0.295172,47.763063,4.521419
50%,171.000000,61.000000,178.100000,453.549422,45207.000000,2.664300e+04,15.900000,0.000000,41.000000,39.600000,42.400000,52.400000,17.100000,34.700000,40.400000,5.400000,35.300000,12.300000,54.500000,7.600000,65.100000,48.700000,41.100000,36.300000,18.800000,90.059774,2.247576,0.549812,0.826185,51.669941,5.381478
75%,518.000000,149.000000,195.200000,480.850000,52492.000000,6.867100e+04,20.400000,83.650776,44.000000,42.500000,45.300000,56.400000,22.700000,40.700000,46.400000,8.200000,39.650000,16.100000,60.300000,9.700000,72.100000,55.600000,47.700000,41.550000,23.100000,95.451693,10.509732,1.221037,2.177960,55.395132,6.493677
max,38150.000000,14010.000000,362.800000,1206.900000,125635.000000,1.017029e+07,47.400000,9762.308998,624.000000,64.700000,65.700000,72.500000,64.100000,72.500000,79.000000,51.800000,54.800000,42.200000,80.100000,29.400000,92.300000,78.900000,70.700000,65.100000,46.600000,100.000000,85.947799,42.619425,41.930251,78.075397,21.326165

In [6]:
##Data Cleaning
#How much of the data is missing.

In [7]:
df.isnull().sum().sort_values(ascending=False).head()

pctsomecol18_24            2285
pctprivatecoveragealone     609
pctemployed16_over          152
geography                     0
medianagefemale               0
dtype: int64

In [8]:
df.shape

(3047, 33)

In [9]:
#since most of the data in 'pctsomecol18_24' is missing. we can safely remove the column

In [10]:
df.drop(['pctsomecol18_24', 'binnedinc'], axis = 1, inplace = True)
df.isnull().sum().sort_values(ascending=False).head()

pctprivatecoveragealone    609
pctemployed16_over         152
birthrate                    0
pctnohs18_24                 0
avgdeathsperyear             0
dtype: int64

In [11]:
#Fill the rest of the missing values with mean of the column
df=df.fillna(df.mean())
df.isnull().sum().sort_values(ascending=False).head()

birthrate           0
pcths18_24          0
avgdeathsperyear    0
target_deathrate    0
incidencerate       0
dtype: int64

In [12]:
df.head(5)

,avganncount,avgdeathsperyear,target_deathrate,incidencerate,medincome,popest2015,povertypercent,studypercap,medianage,medianagemale,medianagefemale,geography,percentmarried,pctnohs18_24,pcths18_24,pctbachdeg18_24,pcths25_over,pctbachdeg25_over,pctemployed16_over,pctunemployed16_over,pctprivatecoverage,pctprivatecoveragealone,pctempprivcoverage,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,pctmarriedhouseholds,birthrate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,39.3,36.9,41.7,"Kitsap County, Washington",52.5,11.5,39.5,6.9,23.2,19.6,51.9,8.0,75.1,48.453774,41.6,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,33.0,32.2,33.7,"Kittitas County, Washington",44.5,6.1,22.4,7.5,26.0,22.7,55.9,7.8,70.2,53.800000,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096
2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,45.0,44.0,45.8,"Klickitat County, Washington",54.2,24.0,36.6,9.5,29.0,16.0,45.9,7.0,63.7,43.500000,34.9,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488
3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,42.8,42.2,43.4,"Lewis County, Washington",52.7,20.2,41.2,2.5,31.6,9.3,48.3,12.1,58.4,40.300000,35.0,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841
4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,48.3,47.8,48.9,"Lincoln County, Washington",57.8,14.9,43.0,2.0,33.4,15.0,48.2,4.8,61.6,43.900000,35.1,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657

In [13]:
df.geography.value_counts(ascending=False)

Lauderdale County, Tennessee    1
Kiowa County, Oklahoma          1
McLennan County, Texas          1
Newton County, Georgia          1
Clay County, Minnesota          1
                               ..
Dare County, North Carolina     1
Atlantic County, New Jersey     1
Manassas city, Virginia         1
Adair County, Kentucky          1
Windsor County, Vermont         1
Name: geography, Length: 3047, dtype: int64

In [14]:
#Since there are multiple classes this can skew the model. So we take only the state names into consideration.

In [15]:
state = df["geography"].str.split(",", n = 1, expand = True)
df['state']=state[1]
df.drop(['geography'], axis = 1, inplace = True)

In [16]:
df['state'].value_counts()

 Texas                   233
 Georgia                 155
 Virginia                125
 Kentucky                120
 Missouri                115
 Illinois                102
 Kansas                  102
 North Carolina           99
 Iowa                     99
 Tennessee                95
 Indiana                  92
 Minnesota                87
 Ohio                     87
 Michigan                 83
 Mississippi              82
 Nebraska                 80
 Oklahoma                 77
 Arkansas                 75
 Wisconsin                72
 Pennsylvania             67
 Florida                  66
 Louisiana                64
 Alabama                  63
 New York                 62
 Colorado                 60
 South Dakota             59
 California               57
 West Virginia            55
 North Dakota             51
 Montana                  48
 South Carolina           46
 Idaho                    42
 Washington               39
 Oregon                   36
 New Mexico               32
 Utah                     27
 Maryland                 24
 Wyoming                  23
 New Jersey               21
 Alaska                   18
 Nevada                   17
 Maine                    16
 Arizona                  15
 Vermont                  14
 Massachusetts            14
 New Hampshire            10
 Connecticut               8
 Rhode Island              5
 Hawaii                    4
 Delaware                  3
 District of Columbia      1
Name: state, dtype: int64

In [17]:
#Change state name to other if its value count is less than some threshold to be decided.
s = df['state'].value_counts()
df['state'] = np.where(df['state'].isin(s.index[s >= 29]), df['state'], 'Other')

In [18]:
df['state'].value_counts()

 Texas             233
Other              220
 Georgia           155
 Virginia          125
 Kentucky          120
 Missouri          115
 Kansas            102
 Illinois          102
 North Carolina     99
 Iowa               99
 Tennessee          95
 Indiana            92
 Minnesota          87
 Ohio               87
 Michigan           83
 Mississippi        82
 Nebraska           80
 Oklahoma           77
 Arkansas           75
 Wisconsin          72
 Pennsylvania       67
 Florida            66
 Louisiana          64
 Alabama            63
 New York           62
 Colorado           60
 South Dakota       59
 California         57
 West Virginia      55
 North Dakota       51
 Montana            48
 South Carolina     46
 Idaho              42
 Washington         39
 Oregon             36
 New Mexico         32
Name: state, dtype: int64

In [19]:
df.shape

(3047, 31)

In [21]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(df.state)
le.transform(df.state)
df['state'].dtype

dtype('O')

In [22]:
from scipy import stats
z = np.abs(stats.zscore(df[numerical]))
print(np.where(z > 3))

NameError: name 'numerical' is not defined

In [ ]:
df = df[(z < 3).all(axis=1)]

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
# Assign X as a DataFrame of features and y as a Series of the outcome variable
X = df.drop('target_deathrate', 1)
y = df.target_deathrate

In [ ]:
X.head(5)

In [ ]:
y.head(5)

In [ ]:
import seaborn as sns
sns.pairplot(df, y_vars="target_deathrate", x_vars=df.columns.values)

In [ ]:
#Check for outliers.
categorical=['state']
numerical=[item for item in list(X.columns) if item not in categorical]
print(numerical)

In [ ]:
for i in numerical:
    X[i]=((X[i]-X[i].min())/(X[i].max()-X[i].min()))*20

X.head()

In [ ]:
#dividing the dataset into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
# Implement classifiers based on Simple linear Regression

from sklearn.linear_model import LinearRegression
simple_linear_regressor=LinearRegression()
simple_linear_regressor.fit(X_train,y_train)

y_pred =simple_linear_regressor.predict(X_test)